name: OpenAPI

on:
  push:
    branches: ["master"]

jobs:
  deploy-staging:
    runs-on: ubuntu-latest

    env:
      KONG_ADMIN_URL: http://staging-kong:8001   

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install OpenAPI CLI
        run: npm install -g @redocly/openapi-cli

      - name: Lint OpenAPI
        run: openapi lint openapi.yaml

      - name: Install Kong Deck
        run: |
          curl -Lo deck https://github.com/kong/deck/releases/latest/download/deck_linux_amd64
          chmod +x deck
          sudo mv deck /usr/local/bin/

      - name: Generate Kong Deck
        run: kong-deck generate -i openapi.yaml -o deck.yaml

      - name: Validate Deck
        run: deck validate -s deck.yaml

      - name: Deploy to Staging Kong
        run: deck sync -s deck.yaml -t $KONG_ADMIN_URL

      - name: Commit updated deck.yaml
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github-actions.com"
          git add deck.yaml
          git commit -m "Update deck.yaml from OpenAPI [skip ci]" || echo "No changes to commit"
          git push origin main

